{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
Cadastro
{% endblock %}

{% block conteudo %}
<h3>Cadastro de cliente</h3>
<hr>
<form>
    <div class="form-group row">
      <div class="col">
        Nome
        <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome do cliente">
      </div>
      <div class="col">
        E-mail
        <input class="form-control" type="text" name="nome" id="nome" placeholder="e-mail do cliente">
      </div>
    </div>
      <div class="row">
          <div class="col-4">
            Telefone
            <input class="form-control" type="text" name="number" id="number" placeholder="(XX) XXXX-XXXX"><br>
            <label for="Whastapp"><i id="whats" class="fab fa-whatsapp fa-2x"></i></label>
            <input type="checkbox" name="Whastapp" id="Whastapp" value="Whatsapp">
            <label for="Telegram"><i class="fab fa-telegram fa-2x"></i></label>
            <input type="checkbox" name="Telegram" id="Telegram" value="Telegram">
          </div>
          <div class="col-2">
            Loja
            <input class="form-control" type="text" name="number" id="number" placeholder="Número"><br>
          </div>
          <div class="col-6">
            Localização
            <select class="form-control">
              <option>Asa Norte</option>
              <option>Asa Sul</option>
              <option>Asa Leste</option>
              <option>Asa Oeste</option>
              <option>Feira</option>
              <option>Externo</option>
            </select>
          </div>
      </div>

    <br><button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}