{% extends 'modelo.html' %}
{% load static %}

{% block titulo %} Inicio {% endblock %}

{% block conteudo %}
    <h3>Busca de cliente</h3>
    <hr>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o nome do Cliente">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <hr>
        <a class="btn btn-success" href="cadastro" role="button">Novo Cliente</a>
    </form>
{% endblock %}
