li{
    list-style-type: none;
    margin-left: 0px;
}
#sidebar{
    background-color: aqua;
    height: 100vh;
}
a{
    text-decoration: none;
}
p{
    font-weight: 800;
    color: blue;
    font-size: larger;
}
.fa-whatsapp{
    color: greenyellow
}
.fa-telegram{
    color:dodgerblue;
}
hr{
    margin: 30px 0px;
}